/*index.js*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  background-color: #333;
  color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 10px;
}

nav a:hover {
  background-color: grey;
}

.Home-container,
.BP-container,
.NA-container,
.Account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  margin-top: 95px;
  padding: 15%;
  text-align: center;
}

/*.BP-container {
  height: 380vh;
}*/

h1 {
  font-size: 6em;
  color: white;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 0.1vw grey;
  white-space: nowrap;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: black;
  border-right: 2px solid grey;
  overflow: hidden;
  animation: animate 6s linear infinite;
  white-space: nowrap;
  -webkit-text-stroke: 0.1vw grey;
}

h2 {
  font-size: 55px;
  color: black;
  margin-top: 15vh;
}

h3 {
  color: white;
  margin-top: 1vh;
  font-size: 24px;
  color: black;
}

h4 {
  font-size: 35px;
  color: black;
  margin-top: 4vh;
}

h5 {
  font-size: 70px;
  color: black;
}

.content {
  text-align: center;
  padding: 20px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#back-link {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  cursor: pointer;
  color: #333;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;

}

#back-link:hover {
  color: #666;
}

#back-link i {
  margin-right: 10px;
}

/*Blog Posts CSS*/
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.search-bar input[type="search"] {
  width: 75%;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ddd;
}

.search-bar button[type="button"] {
  width: 23%;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-bar button[type="button"]:hover {
  background-color: #3e8e41;
}